body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

body{
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu{
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #FB5;
}

.menu ul{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a{
  text-decoration: none;
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  font-family: 'IBM Plex Mono', monospace;
}