body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #FB5;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  font-family: 'IBM Plex Mono', monospace;
}

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

.titulo {
  font-size: 6rem;
  font-family: 'Playfair Display SC', Georgia;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

.ipes p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.ipes h2 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #E54;
}

.ipes h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-bottom: 5px;
  background: #FB5;
}