body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

body{
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}